@font-face {
  font-family: "icones";
  src: url(../font/icones.ttf);
}


body {
  background-color: #1d232a;
  font-family: "Open Sans", "icones", sans-serif;
  color: #ffffff;
}
@media screen and (min-width:1440px){
  body {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.cabecalho__perfil{
  display: none;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15191c;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
  content: "\e904";
  font-size: 24px;
}

.cabecalho__notificacao i::before {
  content: "\e906";
  font-size: 24px;
}

.cabecalho__logo {
  width: 40px;
}

@media screen and (min-width: 1440px) {
  .cabecalho {
    background-color: #15191c;
    display: grid;
    column-gap: 32px;
    grid-template-columns: 1fr auto;
    padding: 16px 60px;
    height: 80px;
    box-sizing: border-box;
    grid-column: 2;
  }

  .cabecalho__menu {
    display: none;
  }

  .cabecalho__logo {
    display: none;
  }

  .cabecalho__perfil {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-self: flex-end;
    color: #95999c;
    padding: 8px 32px;
    border-right: 1px solid #95999c;
  }

  .cabecalho__perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/profile_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cabecalho__perfil::after {
    content: "\e90d";
    color: #ffffff;
    font-size: 1.5rem;
  }
}

.menu-lateral{
  display: flex;
  flex-direction: column;
  background-color: #15191c;
  width: 60vw;
  height: 100vh;

  position: absolute;
  left: -100vw;
  transition: .25s;
}
 
.menu-lateral--ativo{
  left:0;
  transition: .25s;
}

.menu-lateral__logo{
  width: 118px;
  align-self: center;
  padding: 16px;
}

.menu-lateral__link{
  height: 64px;
  color: #95999C;
  padding-left: 64px;
  display: flex;
  align-items: center;
}

.menu-lateral__link--ativo{
  color: white;
  padding-left: 56px;
  border-left: 8px solid white;
}


.menu-lateral__link::before {
  width: 24px;
  height: 24px;
  font-size: 24px;
  position: absolute;
  left: 24px;
}

.menu-lateral__link--inicio::before {
  content: "\e902";
}

.menu-lateral__link--videos::before {
  content: "\e90e";
}

.menu-lateral__link--picos::before {
  content: "\e909";
}

.menu-lateral__link--integrantes::before {
  content: "\e903";
}

.menu-lateral__link--camisas::before {
  content: "\e900";
}

.menu-lateral__link--pinturas::before {
  content: "\e90a";
}

@media screen and (min-width:1440px){
  .menu-lateral{
    position: static;
    width: 200px;
    grid-column: 1;
    grid-row: 1 / span 2;
  }
}

.principal{
  padding: 24px 16px;
  display: grid;
  gap: 8px;
  animation: fade 1s ease-in-out;
}

.titulo-pagina{
  font-size: 1.5rem;
  font-weight: 700;
}

.cartao--favoritos {
  display: none;
}
@media screen and (min-width:1440px){
  .cartao--favoritos .cartao__titulo {
    grid-column: auto;
    
  }

  .cartao__link {
    font-size: 0.8rem;
    font-weight: 600;
    color: #0480dc;
    justify-self: flex-end;
  }

  .cartao__lista {
    display: grid;
    row-gap: 16px;
    grid-column: span 2;
  }

  .cartao__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
  }

  .cartao__item-thumbnail {
    width: 32px;
    grid-row: span 2;
  }

  .cartao__item-titulo {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
  }

  .cartao__item-perfil {
    font-size: 0.8rem;
    color: #95999c;
  }
  .titulo-secao {
    grid-column: span 4;
  }
  .titulo-secao2 {
    grid-column: span 4;
  }
  .cartao--favoritos {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 30px;
    width: 256px;
    padding: 22px;
    box-sizing: border-box;
    align-self: flex-start;
  }
  .cartao__item-thumbnail {
    width: 32px;
    grid-row: span 2;
}
}

@media screen and (min-width: 1440px) {
  .principal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "titulo-pagina titulo-pagina titulo-pagina"
      "mapa mapa favoritos"
      "secao-videos secao-videos secao-videos";
    column-gap: 32px;
    padding: 16px 60px;
    grid-column: 2;
  }
}

.mapa{
  border-radius: 15px;
  overflow: hidden;
}
.mapa__imagem{
  width: 960px;
  height: 500px;
}
.mapa--destaque{
  margin-bottom: 16px;
}
.mapa--picos{
  width: 100%;
  height: 468px;
  background-image: url(../img/mapa-picos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.titulo-secao {
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.25s;
}

.secao {
  display: grid;
  gap: 16px;
}

.cartao{
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #2c343a;
  
}

@keyframes fade {
  from {
   opacity: 0;
   margin-top: 10%;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

.cartao__conteudo {
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
}

.cartao__titulo{
  font-size: 1.2rem;
  font-weight: 700;
  grid-column: span 2;
}
.cartao__perfil{
  color: #95999c;
  font-size: 0.9rem;
  grid-column: span 2;
}

.cartao__info {
  display: flex;
  align-items: center;
  color: #95999c;
}

.cartao__info--vizualizacao::before {
  content: "\e90f";
  margin-right: 8px;
}

.cartao__botao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0480dc;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 0.9rem;
  justify-self: flex-end;
}


.cartao__botao--local::before {
  content: "\e909";
  font-size: 24px;
}


@media screen and (min-width: 1440px) {
  .secao {
    grid-template-columns: repeat(4, 1fr);
  }

  .titulo-pagina {
    grid-area: titulo-pagina;
  }
  .mapa {
    grid-area: mapa;
  }

  .favoritos {
    grid-area: favoritos;
  }

  .secao-videos {
    grid-area: secao-videos;
  }

}

