@font-face {
    font-family: "icones";
    src: url(../font/icones.ttf);
  }

  body{
      background-color: #1d232a;
      font-family: "Open Sans", "icones", sans-serif;
      color: white;
  }

  @media screen and (min-width:1440px){
    body{
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
  
.cabecalho__perfil{
  display: none;
}

  .cabecalho{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #15191c;
      padding: 8px 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }

  .cabecalho__menu::before{
      content: "\e904";
      font-size: 24px;
  }

  .cabecalho__notificacao::before{
      content: "\e906";
      font-size: 24px;
  }

  .cabecalho__logo {
    width: 40px;
  }

  .menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191c;
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
  }

  @media screen and (min-width: 1440px) {
    .cabecalho {
      background-color: #15191c;
      display: grid;
      column-gap: 32px;
      grid-template-columns: 1fr auto;
      padding: 16px 60px;
      height: 80px;
      box-sizing: border-box;
      grid-column: 2;
    }
  
    .cabecalho__menu {
      display: none;
    }
  
    .cabecalho__logo {
      display: none;
    }
  
    .cabecalho__perfil {
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 8px;
      align-items: center;
      justify-self: flex-end;
      color: #95999c;
      padding: 8px 32px;
      border-right: 1px solid #95999c;
    }
  
    .cabecalho__perfil::before {
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      background-image: url(../img/profile_1.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .cabecalho__perfil::after {
      content: "\e90d";
      color: #ffffff;
      font-size: 1.5rem;
    }
  }

  .menu-lateral--ativo{
    left: 0;
    transition: .25s;
  }
  .menu-lateral__logo{
    width: 118px;
    align-self: center;
    padding: 16px;
  }
  
  .menu-lateral__link{
      display: flex;
      align-items: center;
      padding-left: 64px;
      color: #95999c;
      height: 64px;
  }

  .menu-lateral-link--ativo{
      color: white;
      padding-left: 56px;
      border-left: 8px solid white;
  }

  .menu-lateral__link::before {
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
  }

  .menu-lateral__link--inicio::before{
      content: "\e902";
  }

  .menu-lateral__link--videos::before{
    content: "\e90e";
}

.menu-lateral__link--picos::before{
    content: "\e909";
}

.menu-lateral__link--integrantes::before{
    content: "\e903";
}

.menu-lateral__link--camisas::before{
    content: "\e900";
}

.menu-lateral__link--pinturas::before{
    content: "\e90a";
}

@media screen and (min-width:1440px){
  .menu-lateral{
    position: static;
    width: 200px;
    grid-column: 1;
    grid-row: 1 / span 2;
  }
}

.principal-img{
    display: block;
    width: 100vw;
    height: 277px;
   
}

.mapa--local--desk{
  display: none;
}
@media screen and (min-width:1440px){
  .principal-img{
    width: 790px;
    height: 480px;
    border-radius: 15px;
  }
  .mapa--local{
    display: none;
  }
  .mapa--local--desk{
    display: block;
    width: 790px;
    height: 480px;
    border-radius: 15px;
  }
  .principal{
    display: grid;
    justify-items:stretch;
    margin-left: 30px;
  }
  
}

.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
    justify-content: center;
    animation: fade 1s ease-in-out;
  }
  @keyframes fade {
    from {
     opacity: 0;
     margin-top: 10%;
    }
  
    to {
      opacity: 1;
      margin-top: 0;
    }
  }

  .principal2{
    
    padding: 24px 16px;
    margin-right: 30px;
    display: grid;
    gap: 16px;
    margin-right: 30px;
  }

  

@media screen and (min-width:1920px){
  .principal{
    margin-left: 50px;
  }
.principal-img{
  width: 1200px;
  height: 600px;
}
}
  
.cartao__conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    row-gap: 30px;
  }

  @media screen and (min-width:1440px){
    .cartao__conteudo{
      padding: 0;
      grid-template-columns: auto 1fr;
      width: 790px;
      gap:30px;
    }
  }
  @media screen and (min-width:1920px){
    .cartao__conteudo{
      width: 1200px;
    }
  }
  
  .cartao__titulo{
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;

  }

  @media screen and (min-width:1440px){
    .cartao__titulo{
      font-size: 1.7rem;
    }
  }
  .cartao__perfil{
    color: #ffffff;
    font-size: 0.9rem;
    grid-column: span 2;
   
  }
  @media screen and (min-width:1440px){
    .cartao__conteudo{
      font-size: 1.17rem;
    }
    .perfil-vizu{
      justify-self: flex-end;
    }
   
  }
  
  .cartao__info {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .cartao__info--visualizacao::before {
    content: "\e90f";
    margin-right: 8px;
  }
  
  .principal-perfil::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/profile_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

 .texto{
     display: flex;
     font-size: 16.2px;
     justify-content:space-evenly;
     line-height: 36px;
     color: #e7e6e6cb;
     text-align:start;
     padding: 8px 20px;
 }
 @media screen and (min-width:1440px){
   .texto{
     width: 800px;
     padding: 0;
   }
 }
 @media screen and (min-width:1920px){
   .texto{
     width: 1200px;
   }
 }

 .img{
   display: grid;
   grid-template-columns: 1fr 1fr;   
 }
 .mapa--local{
  width: 90%;
  height: 340px;
  grid-column: span 2;
  justify-self: center;
  border-radius: 15px;
 }

 .img--local{
  width: 90%;
  height: 200px;
  grid-column: span 2;
  justify-self: center;
  border-radius: 15px;
 }

 .img--local-desk1{
   display: none;
 }

 .img--local-desk2{
  display: none;
}
 @media screen and (min-width:1440px){
   .img--local{
     display: none;
   }
   .img2--local{
     display: none;
   }
   .img-desk{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    width: 500px;
   }
   .img--local-desk1{
    display: block;
    width: 422px;
    height: 256px;
    box-sizing: border-box;
   }
   .img--local-desk2{
    display: block;
    width: 352px;
    height: 256px;
    box-sizing: border-box;
   }
 }
 @media screen and (min-width:1920px){
   .mapa--local--desk{
     width: 1200px;
   }
 }

 .img2--local{
  width: 90%;
  height: 250px;
  grid-column: span 2;
  justify-self: center;
  border-radius: 15px;
 }
 @media screen and (min-width:1920px){
   .img-desk{
     width: 1200px;
   }
   .img--local-desk1{
     width: 685px;
   }
   .img--local-desk2{
     width: 500px;
   }
   .principal2{
     margin-right: 50px;
   }  
  }

 .secao {
  display: none;
  gap: 16px;
} 
@media screen and (min-width:1440px){
  .secao{
    display: grid;
    width: 300px;
  }
}
.cartao__perfil{
  color: #95999c;
  font-size: 0.9rem;
  grid-column: span 2;
}

.cartao__info-lista {
  display: flex;
  align-items: center;
  color: #95999c;
}
.titulo-secao {
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.25s;
}

.cartao{
  width:100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #2c343a;
}
.cartao__conteudo-lista {
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}
.cartao__info-lista{
  grid-column: 1;
  grid-row: 3;
}

.cartao__info--minutos::before {
  content: "\e90c";
  margin-right: 8px;
}

.cartao__titulo_lista{
  font-size: 1.2rem;
  font-weight: 700;
  grid-column: span 2;
  grid-row: 2;
}

.cartao__botao {
  background-color: #0480dc;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 0.9rem;
  grid-column: 2;
  grid-row: 3;
  justify-self: flex-end;
}


.cartao__botao--assistir::before {
  content: "\e90b";
  font-size: 24px;
}

.principal2{
  display: none;
}

@media screen and (min-width:1440px){
.tudo{
  display: grid;
  grid-template-areas: 
  "principal principal2"
  ;
}

.principal2{
  display: block;

}

.principal{
  grid-area: principal;
}

.principal2{
  grid-area: principal2
}

}

.texto--desk{
  display: none;
}

@media screen and (min-width:1440px){
  .texto--desk{
    display: block;
  }
  .texto--mobile{
    display: none;
  }
}

p{
    padding-top:10px ;
}